<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div >
        <header class="headerText">
            <h1 class ="headerH1">
                <a href ="/"> The Best Tech Blog</a>
            </h1>
            <nav class ="headerNav">
                {{#if loggedIn}}
                <a href= "/dashboard">Dashboard</a>
                <button id = "logout" class="button is-small" > Logout </button>
                {{else}}
                <a href ="/login"> Login</a>
                <a href ="/signup"> Sign Up</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>


</html>