<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div >
        <header class="headerText">
            <h1 class ="headerH1">
                <a href ="/"> The Best Tech Blog</a>
            </h1>
            <nav class ="headerNav">
                
                <ul>
                  {{#if loggedIn}}
                  <li>
                    <a href= "/">Homepage</a>
                  </li>
                  <li>
                    <a href= "/dashboard">Dashboard</a>
                  </li>
                  <li>
                    <button id = "logout" class="button is-small" > Logout </button>
                  </li>
                  {{else}}

                  <li>
                    <a href= "/">Homepage</a>
                  </li>
                  <li>
                    <a href= "/dashboard">Dashboard</a>
                  </li>
                  <li>
                    <a href ="/login"> Login</a>
                  </li>
                  <li>
                    <a href ="/signup"> Sign Up</a>
                  </li>

                </ul>

                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>


</html>