<section class="post">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="postTitle">Title</label><br>
      <input type="text" id="postTitle" name="postTitle" />
    </div>
    <div>
      <label for="postDescription">Description</label><br>
      <textarea rows = "5" cols = "60" id="postDescription" name="postDescription" /> </textarea>
    </div>
    <button type="submit" class="button ">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>