<section class="addPost">
  <a href="/add-post" class="addColor"> Add a Post </a>

</section>

{{#if posts.length}}
<section class="post">
  <h2 class ="myPosts">Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li >
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link center">Edit post</a>    
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/delete-post.js"></script>