<article class="post ">
    <a href="/dashboard" class="commentColor"> Back to Dashboard</a> <br> <br>
    <h2 class="title editTitle">
       Editing Post: {{post.title}} 
    </h2> 
    <form class="edit-post-form centerForm">
        <div>
            <label for="post-title">Title:</label><br>
            <input name="post-title" type="text" value="{{post.title}}" class="titleInput"/> <br> <br>
            <label for="post-description">Description:</label><br>
            <textarea rows = "7" cols = "60" name="post-description" type="text" value="{{post.description}}" /> </textarea><br>
        </div>
        <button type="submit" class ="button"> Update</button>
        <button type="button" class="delete-post-form button is-danger">Remove Post</button>
    </form> 
    {{> comments post.comments}}
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
