<form class="login-form">
    <div>
        <label for="emailLogin">Email: </label>
        <input type = "text" id = "emailLogin"/>
    </div>
    <div>
        <label for ="passwordLogin">Password:</label>
        <input type="password" id ="passwordLogin"/>
    </div>
    <div>
        <button type = "submit">Login</button>
    </div>
</form>

<a href="/signup">Sign up instead</a>


<script src="/javascript/login.js"></script>