{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form commentCenter ">
  <div>
    <textarea rows = "3" cols = "60"name="commentBody"></textarea>
  </div>

  <div>
    <button type="submit" class="button ">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}